.footer {
    background-color: #000000;

    menu li > a {
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: #f57777;
            color: #000;
        }
    }
}