@media (min-width: 360px) and (max-width: 768px) {

    .about {
        height: 110vh;
    }

    .backend-about-me {
        flex-direction: column;
    }

    
    .backend-about-me picture img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }

    .backend-text {
        width: 300px;
    }
}